{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Categories</h2>
                <a href="{{ path('categories_new') }}" class="btn btn-sm btn-primary">New Category</a>
            </div>
            <div class="card mb-0">
                <div class="card-body">
                    {% if categories %}
                        <table id="table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Created at</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        
                                        <td>{{ category.isActive ? '<span class="badge bg-success">Yes</span>' : '<span class="badge bg-danger">No</span>' }}</td>
                                        <td>{{ category.createdAt|date('d/m/Y H:i:s') }}</td>
                                        <td>
                                            <a href="{{ path('categories_show', {'id':category.id}) }}" class="btn btn-sm btn-dark">Show</a>
                                            <a href="{{ path('categories_edit', {'id':category.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                                            <button class="btn btn-sm btn-danger btn-delete" data-route="{{ path('categories_delete', {'id':category.id}) }}">Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No categories to display</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/delete.js"></script>
{% endblock %}
